<html>

<head>
	<title>
		<%= htmlWebpackPlugin.options.title %>
	</title>
</head>

<body>
	<div class="profile">
		<img src="/images/link.jpg" alt="">
		<h1>Link's Adventures</h1>
		<div id="react-root"></div>
	</div>
</body>

</html>